マイページ

<div class="container">
<h4 class="row mt-4">
山田花子さんの会員詳細
</h4>
</div>

<div class="form-group row">
<div class="mx-auto">

<%= form_with model: @ do |f| %>

<h2>会員ID</h2>
<p><%= f.id %></p>

<h2>氏名</h2>
<p><%= f.last_name %></p>
<p><%= f.first_name %></p>

<h2>フリガナ</h2>
<p><%= f.name_kana %></p>
<p><%= f.name_kana %></p>


<h2>郵便番号</h2>
<p><%= f.encrypted_password %></p>

<h2>住所</h2>
<p><%= f.address %></p>

<h2>電話番号</h2>
<p><%= f.telephone_number %></p>

<h2>メールアドレス</h2>
<p><%= f.email %></p>

<h2>会員ステータス</h2>
<p><%= f.is_deleted %></p>

<div class="row mx-4">
<div class="col">編集する
<%= link_to customers_information_path, class: 'nav-link' do %>
<button type="button" class="btn btn-danger">一覧をみる</button>
<% end %>
</div>

<div class="col">注文履歴
<%= link_to customers_information_path, class: 'nav-link' do %>
<button type="button" class="btn btn-primary">一覧をみる</button>
<% end %>
</div>
</div>








