<div class="col-md-8 offset-md-1 mt-4">
<h2>商品一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col" colspan="1">商品ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>

  <tbody>
  <% @items.each do |t| %>
    <tr>

    <td>
    <%= t.id %>
    </td>

    <td>
    <%= t.name %>
    </td>

    <td>
    <%= t.price %>
    </td>


    <td><%= link_to user_path(t.user.id) do %>
    <%= image_tag b.user.get_profile_image(100, 100) %>
    <% end %>
    </td>



    <td>
    <%= link_to book_path(it.id) do %>
    <%= t.title %>
    <% end %>
    </td>



    <td>
    <%= t.body %>
    </td>

    <td>
    <%= t.body %>
    </td>

    </tr>
    <% end %>