<div class="container">
<h4 class="row mt-4 bg-light">
<strong>商品新規登録</strong></h4>

<%= form_with url: admin_items_path, method: :post, model: @item do |f| %>
 <table class="table table-borderless">
  <thead>
    <tr>
      <td>商品画像</td>
      <td> <%= f.file_field :profile_image, placeholder: "選択されていません", accept: "image/*" %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= f.text_field :name, placeholder: "商品名"%></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します"%></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
    </tr>
    <tr>
      <td>税抜価格</td>
      <td><%= f.text_area :price, placeholder: "1000"%></td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <td><div class="販売ステータス">
      <%= f.label :販売ステータス %>
      <%= f.radio_button :done, true %>
      <%= f.label :is_active, '販売中', value: '販売中' %>
      <%= f.radio_button :done, false %>
      <%= f.label :is_active, '販売停止中', value: '販売停止中' %></div></td>
    </tr>
  </tbody>
</table>
<%= f.submit '新規登録', class: "btn btn-success mb-3" %>
<% end %>
</div>