<%= flash[:notice] %>
<div class="container">

<h4 class="row mt-4 bg-light">
<strong>商品詳細</strong>
</h4>

<div class="row mt-4">
<div class="col-lg-6">
<%= image_tag @item.get_profile_image(100,100), width: '80%', height: '80%' %>
</div>

<div class="col-lg-6">

<table class="table table-borderless">
    <tr>
      <th scope="col">商品名</th>
      <th scope="col"><%= @item.name %></th>
    </tr>
    <tr>
      <th scope="col">商品説明</th>
      <th scope="col"><%= @item.introduction %></th>
    </tr>
    <tr>
      <th scope="col">ジャンル</th>
      <th scope="col"><%= @item.genre.name %></th>
    </tr>
    <tr>
      <th scope="col">税込価格(税抜価格)</th>
      <th scope="col"><%= @item.price %></th>
    </tr>
    <tr>
      <th scope="col">販売ステータス</th>
      <th scope="col">
      <% if @item.is_active==false %>
      <p class="text-secondary"><strong>販売停止中</strong></p>
      <% else %>
      <p class="text-success"><strong>販売中</strong></p>
      <% end %>
      </th>
    </tr>
</table>

<div class="row mt-4">
<%= form_with model: @item, method: :edit do |t| %>
<td><%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %></td><p>
<% end %>
</div>
</div>