<div class="container">
<h4 class="row mt-4 bg-light">
<% form_with model: @customer, url: admin_customer_path, method: :edit do |f| %>
<strong><strong>
    <%= f.last_name %>
    <%= @customer.first_name %>さんの会員詳細</strong><h5>さんの</h5><h4><strong>会員情報編集</strong><h4>
</h4>

<div class="row mt-4">
<table class="table table-borderless">
<%= render "public/shared/error_messages", resource: resource %>
  <thead>
    <tr>
      <td>
      会員ID
      </td>
      <td>
      <%= f.id %>
      </td>
      <td colspan="1">
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      氏名
      </td>
      <td>
      <%= f.text_field :first_name, autocomplete: "first_name" %>
      </td>
      <td>
      <%= f.text_field :last_name, autocomplete: "last_name" %>
      </td>
    </tr>
    <tr>
      <td>
    　フリガナ
      </td>
      <td>
      <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
      </td>
      <td>
      <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
      </td>
    </tr>
    <tr>
      <td>
    　郵便番号
      </td>
      <td>
      <%= f.text_field :postal_code, autocomplete: "postal_code" %>
      </td>
      <td colspan="1">
      </td>
    </tr>
    <tr>
      <td>
    　住所
      </td>
      <td>
      <%= f.text_area :address, size: "20", autocomplete: "address" %>
      </td>
      <td colspan="1">
      </td>
    </tr>
    <tr>
      <td>
      電話番号
      </td>
      <td>
      <%= f.telephone_field :telephone_number %>
      </td>
      <td colspan="1">
      </td>
    </tr>
    <tr>
      <td>
      メールアドレス
      </td>
      <td>
      <%= f.text_field :postal_code, placeholder: "0000000", autocomplete: "postal_code" %>
      </td>
      <td colspan="1">
      </td>
    </tr>
    <tr>
      <td>
      会員ステータス
      </td>
      <td>
      <td class="販売ステータス">
      <%= f.label :販売ステータス %>
      <%= f.radio_button :done, true %>
      <%= f.label :is_deleted, '有効', value: '有効' %>
      <%= f.radio_button :done, false %>
      <%= f.label :is_deleted, '退会', value: '退会' %>
      </td>
    </tr>
  </tbody>
<%= f.submit "変更を保存", class: "btn btn-success" %>
<% end %>
</table>
