<div class="container">
<h4 class="row mt-4 bg-light">
注文履歴詳細
</h4>
<%= form_with model: @customer do |c| %>
<table class="table table-borderless">
  <thead>
    <tr>
      <th>
      <strong>購入者</strong>
      </th>
      <th>
      <%= link_to c.name, admin_customer(c.id) %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <strong>注文日</strong>
      </td>
      <td>
      <%= c.created_at %>
      </td>
    </tr>
    <tr>
      <td>
      <strong>配送先</strong>
      </td>
      <td>
      <%= c.address %>
　　　</td>
    </tr>
    <tr>
      <td>
      <strong>支払方法</strong>
      </td>
      <td>
      <%= c.payment_method %>
      </td>
    </tr>
    <tr>
      <td>
      <strong>注文ステータス</strong>
      </td>
      <td>
      <%= c.is_active %>
      </td>
    </tr>

      <td>会員ステータス</td>
      <td><%= c.is_deleted %>
      <% if c.is_deleted=="false" %>
      <p class="text-secondary"><strong>退会</strong></p>
      <% else %>
      <p class="text-success"><strong>有効</strong></p>
      <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<div class="container">
<div class="row mx-4">
<div class="col">
<%= link_to customers_information_path, class: 'nav-link' do %>
<button type="button" class="btn btn-success">編集する</button>
<% end %>
</div>
<div class="col">
<%= link_to customers_information_path, class: 'nav-link' do %>
<button type="button" class="btn btn-info">注文履歴一覧を見る</button>
<% end %>
</div>
</div>
</div>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
<% @items.each do |t| %>
  <tbody>
    <tr>
      <td><% t.name %></td>
      <td><% t.shopping_cost %></td>
      <td><% t.amount %></td>
      <td><% t.total_price %></td>
      <td><% t.is_active %></td>
    </tr>
  </tbody>
</table>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>
      <strong>商品合計</strong>
      </th>
       <th>
      <strong>6490円</strong>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
      <strong>送料</strong>
      </th>
       <th>
      <strong>800円</strong>
      </th>
    </tr>
    <tr>
      <th>
      <strong>請求金額合計</strong>
      </th>
      <th>
      <strong>7290円</strong>
      </th>
    </tr>
  </tbody>
</table>
<% end %>