<div class="container">
<div class="row mt-4 bg-light">
<div class="col-sm-3">
<h3>ショッピングカート</h3>
</div>
<div class="col-sm-3">
<%= link_to "カートを空にする", items_path, method: :destroy_all, class: "btn btn-danger"%>
</div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
  <% @total += cart_item.subtotal %>
    <tr>
      <th><%= cart_item.item.name %></th>
      <th><%= cart_item.item.with_tax_price%></th>
      <th><%= form_with model: cart_item, method: :patch do |f| %>
      <%= f.select :amount, [*1..10] %><%= f.submit "変更", class: "btn btn-success" %>
      <% end %>
    </th>
    <th><%= cart_item.subtotal %></th>
    <th><%= link_to '削除する', cart_item_path(cart_item), method: :delete %></th>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
<%= link_to "買い物を続ける", root_path, class: 'btn btn-primary' %>
合計金額
￥<%= @total %>
</div>

<div class="row">
<%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success' %>
</div>
</div>
