<div class="container">
<div class="row mt-4">
<h3>ショッピングカート</h3>
</div>

<li class="list-none">
    <%= form_with @cart_items do |ci| %>
    <%= ci.item.name %>
    <%= ci.product.price %>
    <%= ci.hidden_field :product_id, value: cart_item.product.id %>
    <%= f.number_field :quantity ,value: cart_item.quantity%>
    <%= f.submit "更新", class: "" %>
    <%= button_to "削除", delete_item_path(product_id: cart_item.product.id), method: :delete,
                                       data: { confirm: "商品を削除しますか？" } %>
         <td><%= f.item.with_tax_price%></td>
          <td><%= f.subtotal%></td>
          <td><%= f.subtotal%></td>
</li>
<% end %>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th scope="1"></th>
    </tr>
  </thead>
<% @cart_items.each do |ci| %>
  <tbody>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="1"></th>
    </tr>
  </tbody>
</table>
<% end %>