<div class="container">
  <div class="row">
    <h3 class="col mt-4 mx-auto">
      注文情報確認
    </h3>
  </div>

  <div class="row">
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% current_customer.cart_items.each do |cart_item| %>
            <% @total = @total + cart_item.subtotal %>
            <tr>
              <th><%= cart_item.item.name %></th>
              <th><%= cart_item.item.with_tax_price %></th>
              <th><%= cart_item.amount %></th>
              <th><%= cart_item.subtotal %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>送料</th>
            <th>￥<%= @shopping_cost %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>商品合計</th>
            <th><%= @total %></th>
          </tr>
          <tr>
            <th>請求金額</th>
            <th><%= @total + @shopping_cost %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
   <div class="col">
    <h4><strong>支払方法</strong></h4>
    <%= Order.payment_methods_i18n[@order.payment_method] %>
    <!--<h3>支払方法<%#= (@order.payment_method == 0) ? "クレジットカード" : "銀行振り込み" %></h3>   </div>-->
   </div>

  <div class="rdddaow">
   <div class="col">
    <h4><stronfg>お届け先</strong></h4>
    <%= @order.address %>
    〒<%= current_customer.postal_code %><%= current_customer.address %><%= current_customer.first_name + " " + current_customer.last_name %>
    〒<%= @address %><%= current_customer.address %><%= current_customer.first_name + " " + current_customer.last_name %>
   </div>
  </div>
  <div class="row">
  <div class="col-md-3 offset-md-3">
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.submit "注文を確定する", class: 'btn btn-success' %>
    <% end %>
  </div>
  </div>
</div>


<h4><strong>お届け先</strong></h4><%= @order.address %></h3>
<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
<!--create確認用-->
<%= f.hidden_field :customer_id %>
<%= f.hidden_field :postal_code %>
<%= f.hidden_field :address %>
<%= f.hidden_field :name %>
<%= f.hidden_field :payment_method %>
<%= f.submit "注文を確定する", class:"btn btn-success col-md-3" %>
<% end %>
