<div class="container">
 <div class="row">
  <h3 class="col mt-4 mx-auto bg-light">
   注文履歴画面
  </h3>
 </div>
 <div class="row">

  <table class="table table-bordered">
   <thead>
    <tr>
     <th>注文日</th>
     <th>配送先</th>
     <th>注文商品</th>
     <th>支払金額</th>
     <th>ステータス</th>
     <th>注文詳細</th>
    </tr>
   </thead>
   <tbody>
    <% @orders.each do |order| %>
    <tr>
     <th><%= order.created_at %></th>
     <th>〒<%= order.postal_code + "  " + order.address + "  " + order.name %></th>
     <th><%= cart_item.item.name %></th>
     <th><%= @total + @shopping_cost %></th>
     <th>販売ステータス</th>
     <th scope="col">
      <% if @order.is_active==false %>
       入金確認
      <% else %>
       発送済み
      <% end %>
     </th>
     <th><%= link_to order_path, class: "btn btn-primary" %></th>
    </tr>
   </tbody>
   <% end %>
  </table>
 </div>
</div>