<div class="container">
<h3 class="row mt-4 bg-light">
注文情報入力</h3>
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>

<h4 class="row">
お支払い方法
</h4>
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><p>

<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

<h4 class="row">
お届け先<!--下はモデルを参照しない-->
</h4>

<table class="table-borderless">
 <thead>
  <tr>
   <th><%= f.radio_button :select_address, 0 %></th>
   <th>ご自身の住所</th>
   <th>〒<%= @customer.postal_code + @customer.address + @customer.last_name + @customer.first_name %><%#= f.label :address_id, options_from_collection_for_select(current_customer.addresses, :id, :name) %></th><p>
  </tr>
 </thead>
 <tbody>
  <tr>
   <th><%= f.radio_button :select_address, 1 %></th>
   <th>登録済住所先から選択</th>
   <th><%= f.select :address_id, options_from_collection_for_select(@customer.addresses, :id, :address_display) %></th><p>
  </tr>
  <tr>
   <th><%= f.radio_button :select_address, 2 %></th>
   <th> 新しいお届け先</th>
   <th></th>
  </tr>
  <tr>
   <td></td>
   <td>郵便番号（ハイフンなし）</td>
   <th><%= f.text_field :postal_code, placeholder: "0000000"%></th>
  </tr>
   <tr>
   <td></td>
   <td>住所</td>
   <th><%= f.text_field :address, :size => "50*50", placeholder: "東京都渋谷区代々木神園町0-0"%></th>
  </tr>
    <tr>
   <td></td>
   <td>宛名</td>
   <th><%= f.text_field :name, placeholder: "令和道子" %></th>
  </tr>
  </tbody>
</table>

<div class="row">
<%= f.submit '確認画面へ進む', class: "btn btn-primary" %>
</div>
<% end %>
</div>