<%= flash[:notice] %>

<div class="container">
 <h4 class="row mt-4 bg-light">ログイン</h4>
 <h5 class="mt-4 bg-light">会員の方はこちらからログイン</h5>

<%= form_with model: @customer, url: session_path(resource_name) do |f| %>
 <div class="form-group row mt-4"><%= f.label :email, 'メールアドレス', class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10"><%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", autocomplete: "email" %></div>
 </div>
 <div class="form-group row"><%= f.label :password, 'パスワード', class: "col-sm-2 col-form-label" %>
  <div class="col-sm-10"><%= f.password_field :password, autocomplete: "current-password" %></div>
 </div>
 <div class="btn-wrapper col-10">
  <div class="row"><%= f.submit 'ログイン', class: "btn btn-primary mb-3" %></div>
 </div>
<% end %>

 <%= render "admin/shared/links" %>
 <div class="row mt-4 bg-light">会員登録がお済みでない方</div>
 <%= render "public/shared/links" %>から新規登録を行ってください。
</div>