<%= flash[:notice] %>
<div class="container">

<div class="row mt-4">
<div class="col-lg-9">
<%= form_with model: @item, method: :post do |t| %>
<%= image_tag @item.get_profile_image(100,100), width: '80%', height: '80%' %><br>
</div>

<div class="col-md-2">
<p><h1><%= @item.name %></h1></p>
<p><h3><%= @item.introduction %></h3></p>
<p><h3>￥<%= @item.price %></h3><h5>（税込）</h5></p>

<td><%= t.submit "カートに入れる", class: "btn btn-success" %></td><p>
<% end %>
</div>
</div>
</div>