<%= flash[:notice] %>
<div class="container">
  <div class="row mt-4">

    <div class="col-5">
      <%= image_tag @item.get_profile_image(100,100), width: '80%', height: '80%' %>
    </div>

    <div class="col-6">
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |t| %>
      <table class="table table-borderless">
        　<thead>
          　<tr>
            　<th><h3><strong><%= @item.name %></strong></h3></p></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><h4><%= @item.introduction %></h4></td>
            </tr>
            <tr>
              <td><h3>￥<%= @item.with_tax_price %></h3>（税込）</td>
            </tr>
            <tr>
              <td>
              <%= t.hidden_field :item_id, :value => @item.id %>
              <%= t.select :amount, *[1..10] %>
              <%= t.submit "カートに入れる", class: "btn btn-success" %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
</div>